<%- include("header"); -%>

<div id="contain">
  <div class="box heading">
    <h1>Please enter your name below.</h1>
  </div>

  <form id="formInput" action="/" method="post">
    <input id="nameInput" type="text" name="name" placeholder="Your Name" autocomplete="off" autofocus>
    <center>
      <button class="btn btn-primary btn-lg namebutton" type="submit" name="button">Submit</button>
    </center>

  </form>
</div>



<%- include("footer"); -%>
